*.jpg binary
*.png binary
*.sln binary
*.vcproj binary
*.exe binary
*.lda binary
*.bin binary
*.imd binary
*.rim binary
*.tap binary
*.dsk binary
*.vhd binary
*.crd binary
*.dck binary
*.c text eol=crlf linguist-language=C
*.h text eol=crlf linguist-language=C
*.mms text eol=crlf
sim_rev.h export-subst

